body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

button {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #1ed760;
}

pre {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
}

.playlist {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.playlist img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.playlist h3 {
    color: #1DB954; 
}

.playlist a {
    text-decoration: none;
    color: white;
    background-color: #1DB954;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}